/***** Global Styles *****/
body {
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 12px;
	color: #666;
}
.custom-container {
	max-width: 910px;
}
.custom-row {
	margin: 0 28px;
}
h2 {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
}
.border-bottom-none {
	border-bottom: none !important;
}
/***** /Global Styles *****/

/***** Header Styles *****/
header, footer {
	background: #4a5761;
	background: -moz-linear-gradient(top,  #4a5761 0%, #404b54 100%);
	background: -webkit-linear-gradient(top,  #4a5761 0%,#404b54 100%);
	background: linear-gradient(to bottom,  #4a5761 0%,#404b54 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a5761', endColorstr='#404b54',GradientType=0 );
	padding: 12px 0;
	font-weight: 700;
}
.head-left a, .head-left span {
	color: #f3f3f3;
}
.head-right a {
	color: #fff;
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	margin-left: 13px;
	display: inline-block;
}
.border-mod::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 16px;
	opacity: 0.45;
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.5), 1px 0 0 rgba(255, 255, 255, 0.5);
	margin-left: 13px;
}
.exit-mod {
	position: relative;
}
.exit-mod::before,
.exit-mod::after {
	content: '';
}
.exit-mod::before {
	border: 4px solid transparent;
	border-bottom: 5px solid #fff;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	bottom: 3px;
}
.exit-mod::after {
	width: 8px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0px;
	bottom: 4px;
}
/***** /Header Styles *****/

/***** Content Styles *****/
.content-wrap {
	background: #6b7e8d;
	padding-top: 40px;
}
.blog-head {
	margin: 0 35px;
}
.blog-head a {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	display: inline-block;
}
.blog-head-left a {
	margin-right: 30px;
}
.blog-head-left .active {
	color: #bbcddc;
}
.head-link_count {
	position: relative;
}
.head-link_count::after {
	content: '3';
	background: linear-gradient(to top, #a9be67 0%, #d7ec9c 100%);
	box-shadow: inset 0.7px 0.7px 0 rgba(255, 255, 255, 0.4), 0.7px 0.7px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0.5px 0.9px 0 white;
	color: #475a6a;
	font-size: 10px;
	font-weight: 700;
	padding: 0 5px;
	border-radius: 50% 50% 50% 0;
	position: absolute;
	display: block;
	top: -14px;
  right: -20px;
}
.head-link_options::before,
.date-info-head::before,
.answer-link::before,
.info-time-pencil::after  {
	content: '';
	background: url(../img/sprite-main.png);
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}
.head-link_options::before {
	background-position: -12px 0;
	width: 13px;
	height: 13px;
	margin-right: 6px;
}
.blog-content {
	background: linear-gradient(to top, #f3f3f3 0%, #f3f3f3 100%);
	box-shadow: 0.7px 0.7px 3px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	position: relative;
	margin: 35px 0 200px;
}
.blog-content__head {
	border-bottom: 1px solid #e0e0e0;
}
.blog-content__head::before {
	content: '';
  position: absolute;
  display: block;
  top: -27px;
  left: 53px;
  border: 15px solid transparent;
  border-bottom: 16px solid #f3f3f3;
}
.blog-content__head h2 {
	padding: 30px 38px 12px 38px;
}
.user--background-mod {
	background: #fafafa;
	background: -moz-linear-gradient(top,  #fafafa 0%, #f5f5f5 100%);
	background: -webkit-linear-gradient(top,  #fafafa 0%,#f5f5f5 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f5f5f5',GradientType=0 );
}
.user {
	padding: 20px 60px 15px 40px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e9e9e9;
}
.user-last {
	padding: 20px 60px 40px 40px;
	border-top: 1px solid #f9f9f9;
}
.user>div, .user-last>div {
	float: left;
}
.user-avatar {
	position: relative;
}
.user-avatar .user-avatar__link {
	border: 1px solid #d0dfec;
	background: #fff;
	display: block;
	padding: 2px;
	margin-right: 15px;
}
.user-info a {
	color: #6689a6;
}
.ask-info-head {
	color: #b5b5b5;
}
.date-info-head::before {
	background-position: -40px 0;
	width: 12px;
	height: 12px;
	margin-right: 4px;
}
.flag {
	padding: 3px 5px;
	color: #fff;
	border-radius: 2px;
	margin-left: 7px;
}
.flag--orange {
	background: #fcca00;
}
.flag--blue {
	background: #5ec8d2;
}
.flag--green {
	background: #abd25e;
}
.user-info {
	width: 88%;
}
.user-info-box {
	border: 1px solid #d0dfec;
	border-radius: 4px;
	background: #e9f3fb;
	margin-top: 7px;
	position: relative;
}
.user-info-box__padding, .user-info-box__link {
	padding: 4px 12px;
}
.user-info-box::before {
	content: '';
	display: block;
	position: absolute;
	left: 30px;
	top: -6px;
	width: 10px;
	height: 10px;
	background: #e9f3fb;
	border-top: 1px solid #d0dfec;
	border-right: 1px solid #d0dfec;
	transform: rotate(-45deg);
}
.answer-link {
	border-radius: 0 4px 4px 0;
	background: #f4f8fc;
	border-left: 1px solid #d0dfec;
}
.answer-link::before {
	background-position: -25px 0;
	width: 15px;
	height: 13px;
	margin-right: 4px;
}
.user.active .dropdown-trigger,
.user-last.active .dropdown-trigger {
	position: relative;
	z-index: 5;
}
.dropdown-block {
	min-width: 230px;
	background: #f9fbd9;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
	position: absolute;
	z-index: 3;
	padding: 20px 20px 20px 13px;
	top: -12px;
	left: -12px;
	display: none;
}
.active {
	display: block;
}
.position {
	margin: 12px 0 10px 60px;
}
.dropdown-block-info {
	margin-top: 15px;
}
.product-block-info__count {
	color: #fff;
	font-size: 41px;
	background: #5ec8d2;
	padding: 0 17px;
	line-height: 46px;
}
.dropdown-block-info__bottom {
	text-align: right;
	margin-top: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: flex-end;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
}
.dropdown-block-info__bottom a {
	display: table;
	margin-top: 2px;
	text-decoration: underline;
}
.dropdown-block-info__bottom a:last-child {
	margin-left: 84px;
}
.dropdown-block-info__bottom a:hover {
	text-decoration: none;
}
.info-time-pencil::after {
	margin-left: 5px;
	background-position: 0 0;
	width: 12px;
	height: 12px;
}
/***** /Content Styles *****/
